<!-- Contact Section -->
<section class="section sec5 contact" id="contact">
  <div class="contact-container">
    <div class="main-title">
      <h2>
        Contact <span>Me</span>
        <span class="bg-text">Connect</span>
      </h2>
    </div>
    <div class="contact-content-container">
      <div class="left-contact">
        <h4>Contact me here</h4>
        <!-- <p>This is Description</p> -->
        <div class="contact-info">
          <div class="contact-item" *ngFor="let item of info">
            <div class="icon">
              <i [class]="item.icon"></i>
              <span>{{ item.title }}:</span>
            </div>
            <p>
              <span>{{ item.value }}</span>
            </p>
          </div>
        </div>

        <!-- Social Icons -->
        <div class="contact-icons">
          <div class="contact-icon">
            <a
              *ngFor="let item of socialIcons"
              [href]="item.link"
              target="_blank"
              [attr.data-tooltip]="item.title"
              data-tooltip-conf="bottom secondary"
            >
              <i [class]="item.icon"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Right Side Contact -->
      <div class="right-contact">
        <form action="" class="contact-form">
          <div class="input-control i-c-2">
            <input type="text" required placeholder="YOUR NAME" />
            <input type="email" required placeholder="YOUR EMAIL" />
          </div>
          <div class="input-control">
            <input type="text" required placeholder="ENTER SUBJECT" />
          </div>
          <div class="input-control">
            <textarea
              name=""
              id=""
              cols="15"
              rows="8"
              placeholder="YOUR MESSAGE HERE..."
            ></textarea>
          </div>
          <div class="submit-btn">
            <a
              href="assets/pdfs/Serey_Vatanak_KOEURN_CV.pdf"
              class="main-btn"
              download
            >
              <span class="btn-text">Download CV</span>
              <span class="btn-icon"><i class="fas fa-download"></i></span>
            </a>
            <a
              href="https://mail.google.com/mail/?view=cm&source=mailto&to=koeurnsereyvatanak@gmail.com"
              class="main-btn"
              target="_blank"
            >
              <span class="btn-text">Send Email</span>
              <span class="btn-icon">
                <i class="fas fa-paper-plane"></i>
              </span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
