* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #0b486b;
  --color-secondary: #f45b69;
  --color-background: #1d2021;
  --color-white: #fff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-portfolio-icon: #fff;
  --br-sm-2: 14px;
  --scale: scale(1.05);
  --transition: all 0.4s ease-in-out;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.light-mode {
  --color-primary: #fff;
  --color-secondary: #f45b69; //#0fa3b1;
  --color-background: #f8f8f8;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #2a2e35;
  --color-grey-1: #454e56;
  --color-grey-2: #6c7983;
  --color-grey-3: #b2becd;
  --color-grey-4: #dbe1e8;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
  --color-portfolio-icon: #0b486b;
  --br-sm-2: 14px;
  --transition: all 0.4s ease-in-out;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--color-background);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;

  // Hide Scrollbar
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// Hide Scrollbar
body::-webkit-scrollbar {
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

#scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, var(--color-secondary), #f12b3d);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-background);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  opacity: 1;
  animation: scaleAnim 0.5s ease;

  @keyframes scaleAnim {
    0% {
      // transform: translateY(-100%) scaleY(0);
      opacity: 0;
    }

    100% {
      // transform: translateY(0) scaleY(1);
      opacity: 1;
    }
  }
}

// Controls styles
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: all 0.4s ease-in-out;

    i {
      color: var(--color-white) !important;
    }
  }

  .control {
    margin: 0.7rem 0;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-1);

    i {
      font-size: 1.2rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }
}

// Theme btn Styles
.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;

  &:active {
    transform: translateY(-5px);
  }

  i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
}

// Blogs Section
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;

  .blog {
    position: relative;
    background-color: var(--color-grey-4);
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: var(--transition);

    &:hover {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-5px);
      transition: var(--transition);

      img {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.8);
      }
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      filter: grayscale(100%);
      transition: var(--transition);
    }

    .blog-text {
      margin-top: -7px;
      padding: 1.2rem;
      border-top: 8px solid var(--color-white);

      h4 {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
        transition: var(--transition);
        cursor: pointer;

        &:hover {
          // color: var(--color-secondary);
        }
      }

      p {
        color: var(--color-grey-2);
        line-height: 2rem;
        padding-bottom: 1rem;
      }
    }
  }
}

// Independent components
.btn-container {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;

  .btn-text {
    padding: 0 2rem;
  }

  .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: var(--transition);
    z-index: -1;
  }

  &:hover {
    .btn-text {
      transition: var(--transition);
      color: white;
    }

    &::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0);
    }
  }
}

.main-title {
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;

    span {
      color: var(--color-secondary);
    }

    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      transition: var(--transition);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
      white-space: nowrap;
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-3);
    transform: translateX(-50%);
  }
}
