@media screen and (max-width: 1024px) {
  // about
  .about-container {
    .right-about {
      grid-template-columns: 1fr;
    }
  }

  .about-overview {
    padding: 2rem 1rem;
  }

  // Skills
  .tech-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  // Work Experience
  .work_experience{
    .work_container {
      .work_item {
        .work_detail {
          margin-right: -1rem;
        }

        &:nth-child(even) {
          .work_detail {
            margin-left: -1rem;
          }
        }
      }
    }
  }

  // Portfolio
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6rem;

    .portfolio-item {
      img {
        height: 220px;
      }
    }
  }
}
