<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-hero></app-hero>
<app-about></app-about>
<app-portfolio></app-portfolio>
<app-contacts></app-contacts>

<div class="controls">
  <div
    *ngFor="let item of menu"
    class="control"
    [ngClass]="{ 'active-btn': item == menu[0] }"
    [attr.data-id]="item.id"
    [attr.data-tooltip]="item.name"
    data-tooltip-conf="secondary"
    (click)="toggleActiveBtn($event)"
  >
    <i [class]="item.icon"></i>
  </div>
</div>

<div class="theme-btn" (click)="toggleTheme()">
  <i class="fas fa-adjust"></i>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
