<!-- Portfolio Section -->
<section class="section sec3 portfolio active" id="portfolio">
  <div class="main-title">
    <h2>
      My <span>Portfolio</span>
      <span class="bg-text">My Work</span>
    </h2>
  </div>

  <!-- <p class="port-text">
          Here are some of my works that I have worked on and collaborated in
          various projects.
        </p> -->

  <div class="portfolios">
    <div class="portfolio-item" *ngFor="let item of projects">
      <div class="image">
        <img [src]="item.imgLink" [alt]="item.altImg" />
      </div>
      <div class="hover-item">
        <h3>{{ item.title }}</h3>
        <div class="icons">
          <a
            *ngFor="let icon of item.icons"
            class="icon"
            [href]="icon.link"
            target="_blank"
            [attr.data-tooltip]="icon.tooltip"
            data-tooltip-conf="primary bottom"
          >
            <i [class]="icon.icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
