<!-- Portfolio Section -->
<section class="section sec3 portfolio" id="portfolio">
  <div class="main-title">
    <h2>
      My <span>Portfolio</span>
      <span class="bg-text">My Work</span>
    </h2>
  </div>

  <!-- <p class="port-text">
          Here are some of my works that I have worked on and collaborated in
          various projects.
        </p> -->

  <div class="portfolios">
    <!-- bongthom.com Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="img/png/bongthom.png" alt="bongthom.com homepage" />
      </div>
      <div class="hover-item">
        <h3>bongthom.com</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://bongthom.com/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Mobile Application Project -->
    <div class="portfolio-item">
      <div class="image">
        <img src="img/portfolio/ibook.webp" alt="ibook preview" />
      </div>
      <div class="hover-item">
        <h3>iBOOK</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://play.google.com/store/apps/details?id=com.bookmanagement.ibook"
            target="_blank"
            data-tooltip="Play Store"
            data-tooltip-conf="primary bottom"
          >
            <i class="fab fa-google-play"></i>
          </a>
          <a
            class="icon"
            href="https://github.com/incubation-center/Flutter-app---Group8"
            target="_blank"
            data-tooltip="GitHub"
            data-tooltip-conf="primary bottom"
          >
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- fixh.me Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="img/portfolio/fixhme.webp" alt="fixh.me homepage" />
      </div>
      <div class="hover-item">
        <h3>fixh.me</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://fixh.me/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- doodhk Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/portfolio/doodhk.webp" alt="doodhk homepage" />
      </div>
      <div class="hover-item">
        <h3>DOODHK.COM</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://doodhk.com/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Fackelmann Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/portfolio/fackelmann.webp" alt="fackelmann homepage" />
      </div>
      <div class="hover-item">
        <h3>HK.FACKELMANN.ASIA</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://hk.fackelmann.asia/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- BigBite.hk Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/portfolio/bigbite.webp" alt="bigbite.hk homepage" />
      </div>
      <div class="hover-item">
        <h3>BIGBITE.HK</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://bigbite.hk/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- erlicht.com Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/portfolio/erlicht.webp" alt="erlicht.com homepage" />
      </div>
      <div class="hover-item">
        <h3>erlicht.com</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://erlicht.com/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- bainmariehk.com Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/portfolio/bainmarie.webp" alt="bainmariehk homepage" />
      </div>
      <div class="hover-item">
        <h3>BAINMARIEHK.com</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://bainmariehk.com/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- KIT Landing Page -->
    <div class="portfolio-item">
      <div class="image">
        <img src="img/portfolio/kit.webp" alt="KIT Landing Page" />
      </div>
      <div class="hover-item">
        <h3>KIT Landing Page</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://neuporng.github.io/PrototypeLandingPage/"
            target="_blank"
            data-tooltip="Preview"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
          <a
            class="icon"
            href="https://github.com/NeupOrng/PrototypeLandingPage"
            target="_blank"
            data-tooltip="GitHub"
            data-tooltip-conf="primary bottom"
          >
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- doodd.fr Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/png/doodfr.png" alt="dood.fr homepage" />
      </div>
      <div class="hover-item">
        <h3>dood.fr</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://dood.fr/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- mkwong.com.hk Website -->
    <div class="portfolio-item">
      <div class="image">
        <img src="/img/png/mkwong.png" alt="mkwong.com.hk homepage" />
      </div>
      <div class="hover-item">
        <h3>mkwong.com.hk</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://mkwong.com.hk/"
            target="_blank"
            data-tooltip="Go to Website"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Vatanak Portfolio Page -->
    <div class="portfolio-item">
      <div class="image">
        <img src="img/portfolio/portfolio.webp" alt="Portfolio Page" />
      </div>
      <div class="hover-item">
        <h3>Vatanak Portfolio Page</h3>
        <div class="icons">
          <a
            class="icon"
            href="https://vatanak10.github.io/portfolio"
            data-tooltip="Preview"
            data-tooltip-conf="primary bottom"
          >
            <i class="fa fa-link"></i>
          </a>
          <a
            class="icon"
            href="https://github.com/vatanak10/portfolio"
            target="_blank"
            data-tooltip="GitHub"
            data-tooltip-conf="primary bottom"
          >
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
