<header class="section sec1 header active" id="home">
  <div class="header-content">
    <div class="left-header">
      <div class="h-shape"></div>
      <div class="image">
        <img src="assets/images/profile.webp" alt="" />
      </div>
    </div>
    <div class="right-header">
      <h1 class="name">
        Hi, I'm <span>Vatanak</span>
        A Web Developer
      </h1>
      <p>
        I'm a web developer based in the city of Phnom Penh, Cambodia. I'm a
        passionate about creating beautiful and functional websites.
      </p>
      <div class="btn-container">
        <a
          href="assets/docs/Serey_Vatanak_KOEURN_CV.pdf"
          class="main-btn"
          download
        >
          <span class="btn-text">Download CV</span>
          <span class="btn-icon">
            <i class="fas fa-download"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
